h1 {
	text-align: center;
}
td{
	padding : 50px;
	/*text-align: center;*/
}

table {
	margin: auto;
}

td:hover {
	border: 1px solid gray;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}